@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
/*====== Home section===== */
.header {
  background-color: #e6e6e6;
  @apply px-4 lg:px-[40px] xl:px-[82px] flex flex-col lg:flex-row gap-4 lg:items-center lg:justify-between pt-[20px] pb-[11px];
}
.top-address {
  font-family: "Mulish", sans-serif;
  @apply font-semibold leading-[15.06px] text-[12px];
}
.top-devider {
  @apply border-r border-[#979191] pl-4 hidden md:inline;
}
.logo-img {
  max-height: 81px;
  width: auto;
}
.navLink {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.57px;
  text-align: left;
  @apply block py-2 pl-3 pr-4 text-white bg-purple-700 rounded xl:bg-transparent xl:text-[#0E1111] xl:p-0 cursor-pointer;
}
.main-section {
  background-image: url(/images/banner-BOI-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  @apply flex items-center justify-center lg:justify-start;
}
.main-section-h1 {
  font-family: "Mulish", sans-serif;
  @apply font-bold text-[24px] md:text-[44px] lg:text-[58px] text-white;
  line-height: 120%;
}
.main-sec-p {
  font-family: "Mulish", sans-serif;
  @apply font-semibold text-xl  md:text-[26px] text-white;
}
.main-sec-btn {
  font-family: "Mulish", sans-serif;
  padding: 17px 22px;
  @apply text-lg lg:text-[19px] text-white;
  background-color: #6d1aae;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.invest-env-section {
  background-image: url(/images/homepage-invest-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  @apply flex justify-center;
}

/* why pakistan */
.why-pak-section {
  @apply flex justify-center;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swip-img {
  display: block;
  width: auto !important;
  height: 343px !important;
  object-fit: cover;
}
.section-intro-h {
  color: #6d1aae;
  font-family: "Mulish", sans-serif;
  @apply text-lg md:text-xl lg:text-[22px] xl:text-[25px] font-bold;
}
.section-intro-p {
  color: #251e20;
  font-family: "Mulish", sans-serif;
  @apply text-[22px] md:text-[25px] lg:text-[30px] font-semibold max-w-3xl text-center;
}
/* Latest Article */
.updated-art-btn {
  font-family: "Poppins", sans-serif;
  padding: 9px 30px;
  @apply text-base font-medium text-[#6D1AAE];
  border: 1px solid #6d1aae;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.updated-art-card-h {
  font-family: "Mulish", sans-serif;
  @apply font-semibold text-[20px] text-[#6D1AAE];
}
.mulish-font {
  font-family: "Mulish", sans-serif;
}
.custom-card-btn-p {
  padding: 9px 33px !important;
}
.card-overlay ::after {
  position: absolute;
  content: "";
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(179, 137, 214, 0.36747198879551823) 82%,
    rgba(140, 74, 191, 1) 99%
  );
}
.swiper {
  width: 95%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swip2-img {
  display: block;
  width: 74px;
  height: 74px;
  object-fit: cover;
}
.swiper-pagination-bullet {
  width: 14px !important;
  border-radius: 0 !important;
}
/* footer */
.footer-img {
  max-height: 40px;
  width: auto;
}
.footer-h {
  font-family: "Askan", sans-serif;
  @apply text-[22px] font-semibold;
}
.footer-p {
  font-family: "Poppins", sans-serif;
  @apply text-lg font-normal text-[#C2C2C2];
}
.footer-p2 {
  font-family: "Poppins", sans-serif;
  @apply text-[15px] font-normal text-[#C2C2C2];
}
/* =====End Home */
.main-section-about {
  background-image: url(/images/about-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  @apply flex items-center justify-center lg:justify-start;
}
.main-headings {
  @apply flex items-center justify-center  text-[#6D1AAE] font-[700] text-lg sm:text-xl md:text-2xl;
}
.about-section {
  @apply flex flex-col-reverse md:flex-row xl:flex-row lg:flex-row 2xl:flex-row items-center mt-20;
}
.para1 {
  @apply font-semibold text-[30px]   leading-relaxed mt-4 mb-4;
}
.para {
  font-family: "mulish", sans-serif;
  @apply text-lg md:text-xl lg:text-2xl text-[#6C696A] mt-4 mb-4;
}
.view-button {
  @apply mt-2 mb-3 p-2 w-[200px] bg-[#6D1AAE] text-white font-semibold rounded-tl-xl rounded-br-xl;
}
.main-mission {
  @apply flex flex-col  lg:flex-row xl:flex-row 2xl:flex-row  items-center md:items-start lg:items-start xl:items-start 2xl:items-start  justify-center xl:gap-20 md:gap-10 sm:gap-2 m-auto mt-8  text-xl md:w-5/6 sm:w-5/6;
}
.mission-vision-content {
  @apply flex flex-col items-center justify-center gap-2 mt-2 text-center  font-light w-1/2 sm:w-5/6 md:w-5/6;
}
/*==== About End ==== */
/* Media & Events */
.main-section-event {
  background-image: url(/images/event-main.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  @apply flex items-center justify-center lg:justify-start;
}
/* =====Economy-section===== */
.economy-hero-section {
  background-image: url(/images/economy-cover-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  @apply flex items-center justify-center lg:justify-start;
}
.tail-of-pak {
  background-image: url(/images/homepage-invest-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}
.country-name {
  font-family: "mulish", sans-serif;
  text-transform: uppercase;
  @apply text-base sm:text-xl xl:text-3xl font-bold text-[#4A494A] text-center;
}
.investment-count {
  font-family: "mulish", sans-serif;
  @apply text-lg sm:text-2xl lg:text-5xl font-bold text-[#34B1E4] text-center;
}
/* ====special-eco-zones==== */
.special-eco-hero-section {
  background-image: url(/images/hero-img-special-eco-zones.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  @apply flex items-center justify-center lg:justify-start;
}
.map-section {
  background-image: url(/images/homepage-invest-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  @apply flex justify-center;
}
/* =====why pakistan -section===== */
.why-pakistan-hero-section {
  background-image: url(/images/economy-cover-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  @apply flex items-center justify-center lg:justify-start;
}
.main-why-pak {
  @apply flex gap-20 md:gap-10 sm:gap-5 lg:gap-20 md:flex-col sm:flex-col lg:flex-row justify-evenly items-center px-20 mt-10;
}
.why-pak-card-para {
  @apply my-6 text-white;
}
/* ===== technology section ====== */
.main-technology-sector {
  background-image: url(/images/technology-main.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  @apply flex items-center justify-center lg:justify-start;
}
.main-bg-section {
  background-image: url(/images/homepage-invest-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.polygon {
  background-color: #6153a3;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.polygon-detail {
  @apply w-[150px] text-center mt-2 text-[14px] sm:text-lg md:text-xl text-[#5C5B5B];
}
.sup {
  color: #f8ac00;
  font-size: 20px;
}
.viewAll-white {
  @apply mt-2 mb-3 p-2 w-[200px] bg-white text-[#6D1AAE] font-[700] rounded-tl-xl rounded-br-xl;
}
.img-heading {
  @apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-3xl 2xl:text-3xl font-bold text-white;
}
.img-para {
  @apply my-1 sm:my-3 md:my-4 lg:my-5 xl:my-6 2xl:my-6 text-white text-[14px] sm:text-[16px] md:text-[16px] lg:text-lg xl:text-lg 2xl:text-2xl;
}
